{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}

<div class="container m-0 p-0 w-100">
    <div class="row">
        <div class="col">
{% image page.image original as tmp_photo %}

<img src="{{ tmp_photo.url }}" width="100%" alt="{{ tmp_photo.alt }}" class="my-custom-class" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ page.image_caption }}. {% if page.image_credit %}<i>Image by {{ page.image_credit }}.</i>{% endif %}
        </div>
    </div>
</div>

<div class="jumbotron text-center pt-5 pb-5" style="background-color: yellow;">
    <h1>{{ page.title }}</h1>
</div>

<div height="100%">.</div>

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {{ page.content | richtext }}
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock content %}