@font-face {
    font-family: 'Kelson Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Kelson_Sans/Kelson Sans Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}

h1, h2, h3, h4 {
    font-family: 'Kelson Sans';
}

body {
    font-family: Lato;
}